{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "echo ${nextRelease.version} > VERSION && npm version ${nextRelease.version} --prefix frontend --no-git-tag-version && sed -i 's/version: .*/version: ${nextRelease.version}/' chart/Chart.yaml && sed -i 's/appVersion: .*/appVersion: ${nextRelease.version}/' chart/Chart.yaml && sed -i 's/version = .*/version = \"${nextRelease.version}\"/' backend/go.mod && mkdir -p release && rm -rf release/* && helm package chart --destination release && docker build -t site-availability:v${nextRelease.version} -f Dockerfile . && docker save site-availability:v${nextRelease.version} > release/site-availability-${nextRelease.version}.tar "
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "VERSION",
          "frontend/package.json",
          "chart/Chart.yaml",
          "backend/go.mod",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "release/site-availability-*.tar",
            "name": "Image-site-availability-${nextRelease.version}.tar",
            "label": "Docker Image (${nextRelease.version})"
          },
          {
            "path": "release/site-availability-*.tgz",
            "name": "Helm-site-availability-${nextRelease.version}.tgz",
            "label": "Helm Chart (${nextRelease.version})"
          }
        ]
      }
    ]
  ]
}
